[Unit]
Description=Sends a heartbeat to wakatime when DaVinci Resolve is running

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/bin/bash -c HOME_PLACEHOLDER/.local/bin/davinci-resolve-wakatime.sh

[Install]
WantedBy=default.target