[Unit]
Description=Runs service for DaVinci Resolve heartbeat to wakatime

[Timer]
OnUnitActiveSec=15s
Unit=davinci-resolve-wakatime.service

[Install]
WantedBy=timers.target