[Unit]
Description=Sends a heartbeat to wakatime when Fusion Studio is running

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/bin/bash -c 'xdotool getwindowfocus getwindowname | grep "Fusion" && /opt/BlackmagicDesign/Fusion18/fuscript -l lua "$HOME/.local/bin/fusion-studio-wakatime.lua"'

[Install]
WantedBy=default.target