[Unit]
Description=Sends a heartbeat to wakatime when Fusion Studio is running

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/bin/bash -c '$HOME/.local/bin/fusion-studio-wakatime.sh'

[Install]
WantedBy=default.target